<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      theWorld
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- page content -->
  <ion-list-header lines="full">
    <ion-label>Messages</ion-label>
  </ion-list-header>

  <!-- <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="../assets/img/IMG_3911.JPG">
      </ion-avatar>
      <ion-card-title>OBrien</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hey there guys! Hey there guys!Hey there guys!Hey there guys!Hey there 
    </ion-card-content>
    <ion-card-subtitle>
      <small>Fri Jun 12th</small>
    </ion-card-subtitle>
  </ion-card> -->

  <ion-card *ngFor="let message of messagesToDisplay">
    <ion-card-header>
      <ion-avatar>
        <img src="{{ message.fromPro }}">
      </ion-avatar>
      <ion-card-title>
        {{ message.from }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ message.text }}
      <img src="{{ message.imageUrl }}" alt="pic" *ngIf='message.imageUrl'> 
    </ion-card-content>
    <ion-card-subtitle>
      <small>{{ message.createdOn }}</small>
    </ion-card-subtitle>
  </ion-card>

</ion-content>
