<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      theWorld
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- page content -->

<ion-item *ngFor="let message of getData()" lines="none">
  <ion-avatar slot="start">
    <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
  </ion-avatar>
  <ion-label ion-item-sliding >
    <h1>{{ message.from }}</h1>
    <h3>{{ message.text }}
      <br>
    <small>{{ message.createdOn }}</small></h3>
  </ion-label>
</ion-item>

</ion-content>
