ion-content {
    --background: #f0f0f0;
}

ion-card {
    border: 2px solid var(--ion-color-secondary);
}

ion-card-header {
    display: flex;

    ion-card-title {
        margin-top: .5rem;
        margin-left: 1rem;
    }
}

ion-card-content {
    font-size: 20px;
}


ion-card-subtitle {

    small {
        margin-left: 1.3rem;
    }
}