<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      theWorld
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- page content -->
  <ion-list-header lines="full">
    <ion-label>Messages</ion-label>
  </ion-list-header>

  <ion-card *ngFor="let message of messagesToDisplay">
    <ion-card-header>
      <ion-card-subtitle lines="inset">
        {{ message.from }} to {{ message.to }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ message.text }}
      <img src="{{ message.imageUrl }}" alt="pic" *ngIf='message.imageUrl'> 
    </ion-card-content>
  </ion-card>

</ion-content>
